
.bg-primary{
    background-color:$primary
}

.container {
    max-width: 1296px;
    padding: 0px 12px;
    margin: 0 auto;
}


 @media (max-width: 768px) {
    .container{
        max-width: 1296px;
        padding: 0px 12px;
        margin: 0 auto;
      }
  }

  @media (max-width: 992px) {
    .container {
      max-width: 672px;
    }
  }

  @media (max-width: 375px) {
    .container {
      max-width: 324px;
    }
  }


  
  


  


  